A { TEXT-DECORATION: underline}
A:link { COLOR: #006633; CURSOR: hand; TEXT-DECORATION: none}
A:visited { COLOR: #006633; TEXT-DECORATION: none}
A:hover { COLOR: #0066CC}

body {
	margin:0px;
	background-color: #FFFFFF; background-image:url(../images/main/bg.gif)}

table {
	font-size:12px;
	font-family:"Arial"
}

.font_no {
	font-family: Arial;
	font-size: 13px;
	color: #3F9A91;
	letter-spacing: 1px;
	font-weight: bold;
}


