<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  http://www.springframework.org/schema/task  
  http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:component-scan base-package="com.ccs.dao,com.ccs.bo" />
	
	<task:annotation-driven/>
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location">
			<value>classpath:hibernate.properties</value>
		</property>
	</bean>


	<bean id="dbConfigPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<!-- <bean id="dbPasswordPropertyConfigurer" class="com.jpmorgan.awm.jfam.common.config.SecurePropertyPlaceholderConfigurer"> 
		<property name="ignoreUnresolvablePlaceholders" value="true"/> <property 
		name="locations"> <list> <value>classpath:jpm_jdbc_pwd.properties</value> 
		</list> </property> <property name="secretKey" value="classpath:b2b.key"/> 
		</bean> <bean id="hkb2bDataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName" value="jdbc/HKB2BDB" /> </bean> -->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName"> <value>${db.driverClassName}</value> </property> 
		<property name="url"> <value>${db.url}</value> </property> <property name="username"> 
		<value>${db.username}</value> </property> <property name="password"> <value>${db.password}</value> 
		</property> </bean> -->

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${db.driverClassName}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>

	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"
		lazy-init="true"></bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
<!-- 		<property name="lobHandler" ref="lobHandler" /> -->
		<property name="hibernateProperties" ref="hibernateProperties" />
		<property name="packagesToScan">
			<list>
				<value>com.ccs.vo</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- <bean id="b2bMessageSource" name="b2bMessageSource" class="com.jpmorgan.awm.jfam.b2b.bo.util.i18n.DataSourceMessageSource"> 
		<property name="basenames"> <list> <value>web</value> </list> </property> 
		<property name="cacheSeconds" value="60" /> </bean> -->
</beans>